#is {
  display: none;
}

#as {
  display: none;
}

.clickable:hover {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}

}
.clickable2:hover {
  cursor: pointer;
  color: blue;
}

.clickable2:hover {
  text-decoration: underline;
}

body {
  background-color: lightblue;
  text-align: center;
}
